<h3>Sentiment analysis</h3>
<br>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <label
    for="text">
    Text:
  </label>
  <br>
  <textarea
    id="text"
    name="text"
    formControlName="text"></textarea>
  <br>
  Language:
  <br>
  <input type="radio" name="lang" formControlName="lang" id="en" value="en">
  <label for="en">English</label>
  <br>
  <input type="radio" name="lang" formControlName="lang" id="it" value="it">
  <label for="it">Italian</label>
  <br>
  <input type="radio" name="lang" formControlName="lang" id="auto" value="auto">
  <label for="auto">Auto</label>
  <br>
  <input type="submit" value="submit">
</form>
<div *ngIf="sentiment">
  Score: {{ sentiment.score }} <br>
  Type: <div [ngStyle]="getBgColor()">{{ sentiment.type }}</div>
</div>
